.u-fade-in {
  opacity: 0;

  &.is-animated {
    opacity: 1;
    // transition: opacity $duration ease-out;
    transition-property: opacity;
    transition-duration: $duration;
    transition-timing-function: ease-out;
  }
}

.u-fade-in-up {
  opacity: 0;
  transform: translateY(30px);

  &.is-animated {
    opacity: 1;
    transform: translateY(0) translateZ(0);
    // transition: opacity $duration ease-out, transform $duration ease-out;
    transition-property: opacity, transform;
    transition-duration: $duration, $duration;
    transition-timing-function: ease-out, ease-out;
  }
}

.u-fade-in-down {
  opacity: 0;
  transform: translateY(-30px);

  &.is-animated {
    opacity: 1;
    transform: translateY(0) translateZ(0);
    // transition: opacity $duration ease-out, transform $duration ease-out;
    transition-property: opacity, transform;
    transition-duration: $duration, $duration;
    transition-timing-function: ease-out, ease-out;
  }
}

.u-fade-in-pop {
  opacity: 0;
  transform: scale(0.7);

  &.is-animated {
    opacity: 1;
    transform: scale(1);
    transition: opacity $duration ease-out, transform 0.5s ease-out;
  }
}

.c-arrow-animaton {
  animation: vertical 1.5s ease-in-out infinite alternate;
}

.c-box-arrow {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
}

.c-arrow {
  width: 18px;
  height: 10px;
  background-size: 100%;
  display: inline-block;

  @include mq-up(md) {
    width: 30px;
    height: 17px;
  }
}

@keyframes horizontal {
  0% { transform: translateX(-7px); }
  100% { transform: translateX(0); }
}

@keyframes vertical {
  0% { transform: translateY(-7px); }
  100% { transform: translateY(0); }
}
