.c-how-we-do {
  $this: &;

  background: $yellow;
  padding: 30px 20px 60px;
  margin: 0;

  &__inner {
    @include mq-up(md) {
      max-width: 1364px;
      margin: auto;
      padding: 120px 0;
    }
  }

  &__item {
    &.is-animated {
      transition-delay: 0.4s !important;

      &:nth-child(2n) {
        transition-delay: 0.8s !important;
      }

      &:nth-child(3n) {
        transition-delay: 1.2s !important;
      }
    }

    &:not(:first-of-type) {
      margin-top: 50px;

      @include mq-up(md) {
        margin-top: 0;
      }
    }

    @include mq-up(md) {
      width: 33.33%;
      padding-left: 10.7%;
    }
  }

  &__msg {
    margin-top: 30px;
    font-size: 1.4rem;
    line-height: 1.4;
    color: $white;

    @include mq-up(md) {
      font-size: 4.4rem;
      color: $white;
      font-weight: bold;
    }
  }

  &__list {
    margin-top: 50px;

    @include mq-up(md) {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
      margin-left: -10.7%;
    }
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include mq-up(md) {
      justify-content: flex-start;
      padding-top: 50px;
    }
  }

  &__icon {
    width: 100%;
    display: inline-flex;
    justify-content: center;

    @include mq-up(md) {
      width: 85px;
      height: 85px;
      justify-content: flex-start;
    }

    > img {
      @include mq-up(md) {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__heading {
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 20px;

    @include mq-up(md) {
      font-size: 3.3rem;
      text-align: left;
    }
  }

  &__text {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 250px;
    margin: 15px auto 0;

    @include mq-up(md) {
      font-size: 1.6rem;
      text-align: left;
      max-width: 100%;
    }
  }
}
