.c-our-impact {
  background: url(../images/our-impact/bg_our_impact.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;

  @include mq-up(md) {
    background: url(../images/our-impact/bg_our_impact_pc.png) center top no-repeat;
    background-size: cover;
    height: 70vh;
    min-height: 700px;
  }

  &__inner {
    @include mq-up(md) {
      margin: auto;
      padding: 100px 0;
    }
  }

  &__box-heading {
    @include mq-down(md) {
      display: block;
      padding-top: 10%;
      text-align: center;
    }

    @include mq-up(md) {
      display: block;
      margin: auto;
      text-align: center;
    }
  }

  &__heading {
    font-size: 2.6rem;
    font-weight: 500;
    color: $white;

    @include mq-up(md) {
      font-size: 6.4rem;
      line-height: 1.3;
      margin-top: 20px;
    }
  }

  &__box-donate {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100vw;
    bottom: 20%;

    @include mq-up(md) {
      bottom: 100px;
      width: auto;
      left: 100px;
      right: 100px;
    }

    &-item {
      width: 33.33%;
    }

    &-number {
      font-size: 2.8rem;
      font-weight: 600;
      color: $white;
      text-align: center;

      @include mq-up(md) {
        font-size: 6.7rem;
      }
    }

    &-text {
      font-size: 2.4rem;
      font-weight: 500;
      color: $white;
      text-align: center;

      @include mq-up(md) {
        font-size: 5.9rem;
      }
    }
  }
}
