extends ../layouts/_master
block variables
  -
    const meta = {
      title: 'AKARA GROUP - อาสาปันอิ่ม ปันยิ้มให้สังคม',
      keyword: 'AKARA GROUP - อาสาปันอิ่ม ปันยิ้มให้สังคม',
      description: 'AKARA GROUP - อาสาปันอิ่ม ปันยิ้มให้สังคม'
    }

block append scripts

block content
  .l-contents
    .l-container

      include ../components/_why-we-do
      include ../components/_children-sound
      include ../components/_our-associate
      include ../components/_lets-share
