/* Font
---------------------------------------------------------- */
// Hiragino
$font-base: 'Kanit', sans-serif;
$font-poppins: 'Poppins', sans-serif;

/* Breakpoint
---------------------------------------------------------- */
$breakpoint-md: 897;

/* Color
---------------------------------------------------------- */
// Base Color
$blue: #354463;
$Blue: #211e1f;
$yellow: #fbaf00;
$yellow2: #ffb900;
$grey: #f2f2f2;
$grey2: #e6e6e6;
$white: #fff;

$duration: 1s;
