block variables

doctype html
html(lang="ja")
  head
    include ../components/_meta

    //- CSS
    block css
      link(rel="stylesheet", href="assets/css/style.css")

  body
    //- Hero
    include ../components/_hero

    //- block content
    block content

    //- Footer
    include ../components/_footer

    //- JS
    script(src="assets/js/libs/jquery.js")
    script(src='assets/js/libs/swiper-bundle.min.js')
    script(src='assets/js/libs/jquery.countTo.js')
    script(src='assets/js/libs/modaal.min.js')
    script(src='assets/js/libs/jquery.waypoints.min.js')
    script(src="assets/js/app.js")
    script(src="assets/js/scripts.js")
    block scripts
