.c-sec-children-sound(id='children')
  .c-sec-children-sound__inner
    .c-children-sound
      .c-children-sound__heading
        h2.c-heading-type1 Children Sounds

      .c-children-sound__container.swiper-container.js-children-sound-slider
        .c-children-sound__wrapper.swiper-wrapper
          .c-children-sound__item.swiper-slide
            .c-children-sound
              .c-children-sound__image
                figure.c-children-sound__fig
                  img(src="assets/images/children-sound/img_children.jpg", alt="")
              .c-children-sound__box-quote
                .c-children-sound__quote "ขอบคุณมากๆเลย ครับ<br>เพื่อนๆ และผมอิ่มมากครับ ผมกินไป 2 จานเลยแล้วก็ได้ของกลับบ้านด้วย ขอบคุณครับ ฮ่าๆๆ"
                .c-children-sound__children ดช. อายีระ  ยาลอซู<br>โรงเรียนดอยตุง จ.แม่ฮ่องสอน
          //- c-children-sound__item
          .c-children-sound__item.swiper-slide
            .c-children-sound
              .c-children-sound__image
                figure.c-children-sound__fig
                  img(src="assets//images/children-sound/img_children_02.jpg", alt="")
              .c-children-sound__box-quote
                .c-children-sound__quote "ขอบคุณมากๆเลย ครับ<br>เพื่อนๆ และผมอิ่มมากครับ ผมกินไป 2 จานเลยแล้วก็ได้ของกลับบ้านด้วย ขอบคุณครับ ฮ่าๆๆ"
                .c-children-sound__children ดช. อายีระ  ยาลอซู<br>โรงเรียนดอยตุง จ.แม่ฮ่องสอน
          //- c-children-sound__item
        
        .c-children-sound__pagination.swiper-pagination.js-children-sound-pagination
      //- c-children-sound__container
    //- c-children-sound