.c-gnav(id='gnav')
  .c-gnav__in
    .c-gnav__logo
      a.c-gnav__logo-link(href='/')
        img(src='assets/images/common/logo_sub.svg' alt='')
    button.c-gnav__close(type='button', id='btn-close-menu') x
    ul.c-gnav__list
      li.c-gnav__item
        a.c-gnav__link(href='#problems')
          img.c-gnav__icon(src='assets/images/common/ico_problem.svg' alt='ที่มาของโครงการ')
          .c-gnav__text ที่มาของโครงการ
      li.c-gnav__item
        a.c-gnav__link(href='#campaign')
          img.c-gnav__icon(src='assets/images/common/ico_campaign.svg' alt='เกี่ยวกับโครงการ')
          .c-gnav__text เกี่ยวกับโครงการ
      li.c-gnav__item
        a.c-gnav__link(href='#how-we-do')
          img.c-gnav__icon(src='assets/images/common/ico_how.svg' alt='วิธีดำเนินการ')
          .c-gnav__text วิธีดำเนินการ
      li.c-gnav__item
        a.c-gnav__link(href='#activities')
          img.c-gnav__icon(src='assets/images/common/ico_activities.svg' alt='กิจกรรม')
          .c-gnav__text กิจกรรม
      li.c-gnav__item
        a.c-gnav__link(href='#children-sound')
          img.c-gnav__icon(src='assets/images/common/ico_children.svg' alt='เสียงจากน้อง ๆ')
          .c-gnav__text เสียงจากน้อง ๆ
// /nav-global