.c-gnav(id='gnav')
  .c-gnav__in
    .c-gnav__logo
      a.c-gnav__logo-link(href='/')
        img(src='assets/images/common/logo_sub.svg' alt='')
    button.c-gnav__close(type='button', id='btn-close-menu') x
    ul.c-gnav__list
      li.c-gnav__item
        a.c-gnav__link(href='#problems')
          img.c-gnav__icon(src='assets/images/common/ico_problem.svg' alt='Problems')
          .c-gnav__text Problems
      li.c-gnav__item
        a.c-gnav__link(href='#campaign')
          img.c-gnav__icon(src='assets/images/common/ico_campaign.svg' alt='Our campaign')
          .c-gnav__text Our campaign
      li.c-gnav__item
        a.c-gnav__link(href='#activities')
          img.c-gnav__icon(src='assets/images/common/ico_activities.svg' alt='Activities')
          .c-gnav__text Activities
      li.c-gnav__item
        a.c-gnav__link(href='#children-sound')
          img.c-gnav__icon(src='assets/images/common/ico_children.svg' alt='Children Sounds')
          .c-gnav__text Children Sounds
      li.c-gnav__item
        a.c-gnav__link(href='#contact')
          img.c-gnav__icon(src='assets/images/common/ico_contact.svg' alt='Contact us')
          .c-gnav__text Contact us
// /nav-global